.box{
    background-color: red;
    height: 700px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.box1
{
    background-color: green;
    height: 400px;
    width: 200px;
}
.box2{
    background-color: blueviolet;
    height: 400px;
    width: 200px;
}
.box3{
    background-color: aqua;
    height: 400px;
    width: 200px;
}
@media screen and (max-width:600px)
{
    .box{
        height: 1000px;
        width: 100vw;
        flex-direction: column;
    }
    .box3{
        width: 100vh;

    }
    }
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Amazon.com-Logo.svg" alt="Amazon Logo">

