.box{
    background-color: red;
    height: 500px;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr ;
    grid-gap:20px;
}
.box1{
    background-color: green;
}
.box2{
    background-color: blue;

}
.box3{
    background-color: yellow;
}
.box4{
    background-color: black;

}
@media screen and (max-width: 600px)
{
.box{
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}
}